@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body {
  background-color: #FFF2D3;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
/* .container{
    max-width: 1250px;
    margin-left: auto;
    margin-right: auto;
    padding: - 15px;
} */
.form-control {
  width: 100%;
  padding: 12px 16px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  color: #333;
  margin-bottom: 10px;
  transition: border-color 0.2s, box-shadow 0.2s;
  }

.form-control:focus {
  outline: none;
  border-color: #E17801;
  box-shadow: 0 0 0 3px rgba(151, 51, 238, 0.2);
}

