@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
body {
  /* background-color: #FFF2D3; */
  /* background-color: rgba(255, 250, 238, 0.8); */
  background-color: rgba(255, 242, 211, 0.6);
  color: rgba(0, 0, 0, 0.8);
  font-family: "Manrope", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.container{
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 50px;
}
.form-control {
  width: 100%;
  padding: 12px 16px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  color: #333;
  margin-bottom: 10px;
  transition: border-color 0.2s, box-shadow 0.2s;
  }

.form-control:focus {
  outline: none;
  border-color: #E17801;
  box-shadow: 0 0 0 3px rgba(151, 51, 238, 0.2);
}
    .textarea-scrollable {
    min-height: 120px;
    resize: vertical;
  }


.button{
  padding: 8px 30px;
  background: #BFC5A9;
  text-align: center;
  text-decoration: none;
  border: none;
  color: rgba(0, 0, 0, 0.8);
  font-size: 28px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.25s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.20);
}

.z-button{
  padding: 8px 30px;
  background: #FBEBC3;
  text-align: center;
  text-decoration: none;
  border: none;
  color: rgba(0, 0, 0, 0.8);
  font-size: 28px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.25s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.20);
}

.back {
  color: #495057;
  transition: color 0.2s;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
}
.back a:hover,
.back a:focus{
    color: #E17801;
}
